@charset "utf-8";
/* CSS Document */
/*主体部分开始*/
.main{height:312px; width:980px;margin:0 auto; margin-top:10px; border-radius:5px 5px 0 0;/*border-radius: 左上  右上  右下  左下*/}
.main-hd{padding:10px 0 10px 8px; border-bottom:1px solid #E0E0E0; background-color:#fff;}
.main-hd li{width:226px; height:74px; background:url(../images/main-hd-li-bg.jpg) no-repeat; float:left; margin-right:5px; padding:11px 0 0 11px;}
.main-hd h2{ height:24px;}
.main-hd p{margin-left:40px; line-height:19px;}
.main-bd{height:210px; background:url(../images/main-bd-bg.jpg) repeat-x; }
.show{ height:200px; float:left; background:url(../images/show-bg.jpg) no-repeat right top; padding:10px 10px 0 10px;}
.show h2{ height:60px; background:url(../images/content_r1_c1.jpg) no-repeat; overflow:hidden;}
.show h2 a{display:block;width:35px; height:24px; background:url(../images/more.jpg) no-repeat; margin-left:auto; margin-top:6px;}
.aboutus{ width:302px; }
.aboutus dt{border:1px solid #ccc; float:left; padding:3px; margin-top:3px;}
.aboutus dd{float:left; width:182px; margin-left:10px;}
.aboutus dd a{color:#398D00;}
.products{width:388px;}
.products li{float:left; width:123px; margin-right:8px;}
.products li.nomargin{margin-right:0;}
.products li p{ text-align:center; padding-top:5px;}
.products li div{border:1px solid #ccc; padding:2px;}
.products h2{ background-image:url(../images/content_r1_c3.jpg);}
.contact{ width:229px; background:none;}
.contact h2{ background-image:url(../images/content_r3_c5.jpg);}

/*列表页css开始*/
.list-main{ width:960px; margin:0 auto; 

background-color:#fff; border-radius:5px 5px 0 0 ; 

padding:10px; margin-top:10px;}
.list-l{width:214px;  float:left; }
.list-l ul,.list-l p{ background-color:#f4f4f4; border-left:1px solid #E0E0E0; border-right:1px solid #E0E0E0; margin:0 7px;}
.list-l ul li{height:32px; line-height:32px; background:url(../images/list-l-li-bg.jpg) no-repeat left bottom; padding-left:12px;}
.list-l ul li a{ background:url(../images/arr.jpg) no-repeat left center; padding-left:15px;}
.list-l ul li a:hover{ background-image:url(../images/arrhover.jpg);}
.list-l p{background:none; font-family:"宋体"; padding:0 12px;}
.list-r{width:734px; float:right;}
.list-r-hd{height:50px; background:url(../images/list-r-t.jpg) no-repeat;}
.list-r-hd h4{float:left; margin:15px 0 0 50px; color:#333; font-size:14px; display:inline;}
.list-r-hd span{float:right; margin:18px 26px 0 0 ;}
.list-r ul{margin:11px 15px 0;}
.list-r ul li{height:37px; line-height:37px; background:url(../images/list-r-li-bg.jpg) repeat-x left bottom; margin-bottom:8px;}
.list-r ul li a{background:url(../images/square.jpg) no-repeat 5px center; padding-left:15px; float:left;}
.list-r li span{ float:right; color:#060}
.list-r p{ text-align:center; margin-top:30px;}

/*article 开始*/
.article{margin:11px 15px 0; }
.article h2{font-size:16px; text-align:center; height:40px;}
.article p{text-align:left; margin-top:10px; font-size:14px; font-family:"宋体";color:#000; text-indent:2em;}

